# API CONFIG
API_NAME=master-service
API_DOCS=true
API_PORT=8080

# DATABASE CONFIG
DB_TYPE=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASS=123
DB_NAME=db_master

# REDIS CONFIG
REDIS_HOST=redis://127.0.0.1:6379

# WORKER CONFIG
WORKER_THREADS=2

# LOG CONFIG
LOG_LEVEL=info

# LOKI CONFIG
LOKI_URL=http://127.0.0.1:3100
LOKI_USER=admin
LOKI_PASS=admin

# JWT CONFIG 
# generate using openssl rand -base64 32 
JWT_SECRET=secret
JWT_EXPIRES_IN=1d

# ENCRYPTION CONFIG 
# generate using openssl rand -base64 24
CRYPTO_SECRET=secret